<a href="https://colab.research.google.com/github/Rakesh-Online/Pattern_programming_python/blob/master/pattern_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
n = int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(n-i):
    print(j+1 , end = "")
  print()

Enter number:5
12345
1234
123
12
1

In [6]:
n = int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(n-i):
    print(chr(65+j) , end = "")
  print()

Enter number:5
ABCDE
ABCD
ABC
AB
A

In [7]:
n = int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(n-i):
    print(n-j , end = "")
  print()

Enter number:5
54321
5432
543
54
5

In [9]:
n = int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(n-i):
    print(chr(64+n-j) , end = "")
  print()

Enter number:5
EDCBA
EDCB
EDC
ED
E

In [77]:
n = int(input("Enter number:"))
for i in range(n):
  print((n-i)*("* "))

Enter number:4
* * * *
* * *
* *
*

In [28]:
\n =int(input("Enter number:"))
for i in range(n): #0,1,2,3
  print((str(n-i)+ " ")*n)

Enter number:4
4 4 4 4
3 3 3 3
2 2 2 2
1 1 1 1

In [35]:
n =int(input("Enter number:"))
for i in range(n): #0,1,2,3
  print((chr(64+n-i)+ " ")*n)

Enter number:5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [45]:
n =int(input("Enter number:"))
for i in range(n):
  for j in range(n):
    print(n-j , end= " ")
  print()

3 2 1
3 2 1
3 2 1

In [47]:
n =int(input("Enter number:"))
for i in range(n):
  for j in range(n):
    print(chr(64+n-j) , end= " ")
  print()

C B A
C B A
C B A

In [53]:
n = int(input("Enter number:"))

for i in range(n): #0,1,2,
  print((i+1)*("*"))

Enter number:5
*
**
***
****
*****

In [61]:
n = int(input("Enter number:"))

for i in range(n): #0,1,2,
  print((i+1)*(str(i+1)+" "))

Enter number:4
1
2 2
3 3 3
4 4 4 4

In [71]:
n= int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(i+1):
    print(j+1, end = " ")
  print()

Enter number:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [70]:
n= int(input("Enter number:"))
for i in range(n):#0,1,2,3,4
  for j in range(i+1):
    print(chr(65+j), end = " ")
  print()

Enter number:5
A
A B
A B C
A B C D
A B C D E