<a href="https://colab.research.google.com/github/Rakesh-Online/Pattern_programming_python/blob/master/pattern_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1)+ "* "*(i+1))
for i in range(n-1):
  print(" "*(i+1)+"* "*(n-i-1))

Enter any number:4
   *
  * *
 * * *
* * * *
 * * *
  * *
   *

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1)+ (str(i+1)+" ")*(i+1))
for i in range(n-1):
  print(" "*(i+1)+(str(n-i-1)+ " ")*(n-i-1))

Enter any number:4
   1
  2 2
 3 3 3
4 4 4 4
 3 3 3
  2 2
   1

In [48]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1)+ (chr(65+i)+" ")*(i+1))
for i in range(n-1):
  print(" "*(i+1)+(chr(64+n-i-1)+ " ")*(n-i-1))

Enter any number:5
    A
   B B
  C C C
 D D D D
E E E E E
 D D D D
  C C C
   B B
    A

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1), end= " ")
  for j in range(i+1):
    print(j+1, end = " ")
  print()
for i in range(n):
  print(" "*(i+1), end=" ")
  for j in range(n-i-1):
    print(j+1, end = " ")
  print()

Enter any number:4
    1
   1 2
  1 2 3
 1 2 3 4
  1 2 3
   1 2
    1

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1), end= " ")
  for j in range(i+1):
    print(chr(65+j), end = " ")
  print()
for i in range(n):
  print(" "*(i+1), end=" ")
  for j in range(n-i-1):
    print(chr(65+j), end = " ")
  print()

Enter any number:4
    A
   A B
  A B C
 A B C D
  A B C
   A B
    A

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1), end= " ")
  for j in range(i+1):
    print(n-j, end = " ")
  print()
for i in range(n):
  print(" "*(i+1), end=" ")
  for j in range(n-i-1):
    print(n-j, end = " ")
  print()

Enter any number:4
    4
   4 3
  4 3 2
 4 3 2 1
  4 3 2
   4 3
    4

In [ ]:
n = int(input("Enter any number:"))
for i in range(n):
  print(" "*(n-i-1), end= " ")
  for j in range(i+1):
    print(chr(64+n-j), end = " ")
  print()
for i in range(n):
  print(" "*(i+1), end=" ")
  for j in range(n-i-1):
    print(chr(64+n-j), end = " ")
  print()

Enter any number:4
    D
   D C
  D C B
 D C B A
  D C B
   D C
    D

In [1]:
#half diamond

In [50]:
n = int(input("enter any number: "))
for i in range(n):
  print('* '*(i+1))
for i in range(n):
  print('* '*(n-i-1))

enter any number: 4
*
* *
* * *
* * * *
* * *
* *
*

In [44]:
n = int(input("enter any number: "))
for i in range(n):
  print((str(i+1)+' ')*(i+1))
for i in range(n):
  print((str(n-i-1)+ ' ')*(n-i-1))

enter any number: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [51]:
n = int(input("enter any number: "))
for i in range(n):
  print((chr(65+i)+' ')*(i+1))
for i in range(n):
  print((chr(64+n-i-1)+ ' ')*(n-i-1))

enter any number: 5
A
B B
C C C
D D D D
E E E E E
D D D D
C C C
B B
A

In [41]:
n = int(input("enter any number: "))
for i in range(n):
  for j in range(i+1):
    print(j+1, end=' ')
  print()
for i in range(n):
  for j in range(n-i-1):
    print(j+1, end= ' ')
  print()

enter any number: 4
1
1 2
1 2 3
1 2 3 4
1 2 3
1 2
1

In [43]:
n = int(input("enter any number: "))
for i in range(n):
  for j in range(i+1):
    print(chr(65+j), end=' ')
  print()
for i in range(n):
  for j in range(n-i-1):
    print(chr(65+j), end= ' ')
  print()

enter any number: 4
A
A B
A B C
A B C D
A B C
A B
A