<a href="https://colab.research.google.com/github/Rakesh-Online/Pattern_programming_python/blob/master/pattern_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input("enter the number"))
for i in range(1,n+1):
  for j in range(1,2*n):
    if i==n or i+j==n+1 or j-i ==n-1:
      print('*', end= "")
    else:
      print(end = " ")
  print()

enter the number5
    *
   * *
  *   *
 *     *
*********

In [ ]:
for i in range(6):
    for j in range(7):
        if (i==0 and j % 3!= 0) or (i==1 and j%3==0) or (i-j==2) or (i+j==8):
            print("*", end= " ")
        else:
            print(" ", end = " ")

    print()

  * *   * *
*     *     *
*           *
  *       *
    *   *
      *

In [ ]:
n = int(input("Enter a number : "))
for i in range(0,n):
    for j in range(0,n):
        if i==0 or j==n-1 or i ==j:
            print("*", end= "")
        else:
            print(" ", end= "")

    print()

Enter a number : 7
*******
 *    *
  *   *
   *  *
    * *
     **
      *

In [ ]:
str1 = ''
for i in range(7):
    for j in range(5):
        if (j == 0 or j==4) or ((i==0 or i==3) and (j>0 and j <4 )):
            str1 = str1 +'*'
        else:
            str1 = str1 + ' '
    str1 = str1+'\n'

print(str1)

*****
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
str="";    
for Row in range(0,7):    
    for Col in range(0,7):     
        if (Col == 1 or ((Row == 0 or Row == 3 or Row == 6) and (Col < 5 and Col > 1)) or (Col == 5 and (Row != 0 and Row != 3 and Row != 6))) :  
            str=str+"*"    
        else:      
            str=str+" "    
    str=str+"\n"    
print(str);

 ****
 *   *
 *   *
 ****
 *   *
 *   *
 ****

In [ ]:
for i in range(7):
    for j in range(5):
        if (j==0) or ((i == 0 or i ==6 )and (j >0)):
            print("*", end="")
        else:
            print(end = "")
    print()

*****
*
*
*
*
*
*****

In [ ]:
result_str="";    
for i in range(0,7):    
    for j in range(0,7):     
        if (j == 1 or ((i == 0 or i== 6) and (j > 1 and j < 5)) or (j == 5 and i != 0 and i!= 6)):  
            result_str=result_str+"*"    
        else:      
            result_str=result_str+" "    
    result_str=result_str+"\n"    
print(result_str);

 ****
 *   *
 *   *
 *   *
 *   *
 *   *
 ****

In [ ]:
for i in range(7):
    for j in range(5):
        if j==0 or ((i==0 or i==3 or i==6) and (j>0)):
            print("*", end="")
        else:
            print(end= " ")
    print()

*****
*
*
*****
*
*
*****

In [ ]:
for i in range(7):
    for j in range(5):
        if (j==0) or ((i==0 or i==3) and j>0):
            print("*", end= "")
        else:
            print(end=" ")
    print()

*****
*
*
*****
*
*
*

In [ ]:
for i in range(7):
    for j in range(5):
        if j==0 or (j==4 and (i!=1 and i!=2)) or ((i==0 or i==6) and (j>0 and j<4)) or (i==3 and (j==3 or j==5)):
            print("*", end= "")
        else:
            print(end=" ")
    print()

*****
*
*
*  **
*   *
*   *
*****

In [2]:
for i in range(7):
    for j in range(5):
        if j==0 or (j==4 and (i!=1 and i!=2)) or ((i==0 or i==6) and (j>0 and j<4)) or (i==0 and (j==3 or j==5)):
            print("*", end= "")
        else:
            print(end=" ")
    print()

*****
*
*
*   *
*   *
*   *
*****